
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}


.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}

h2 img{
    height: 60px;
}
.todo-app{
    width: 100%;
    max-width: 700px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    gap: .78rem;
    margin-bottom: 40px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 1rem;
    margin-bottom: 1.2rem;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-weight: 600    ;
    font-size: 1.2rem;
}

button{
    border: none;
    outline: none;
    padding: 1.2rem 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 1.3rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before{
    content: '';
    position: absolute;
    height:38px;
    width:38px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 1px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.jpg);
}

ul li span{
    position: absolute;
    right: 0;
    top: 30%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #555;
}

ul li span:hover{
    background-color: #ff5945;
    border: 2px solid #b8b5b5;
    color: #fff;
    border-radius: 50%;
}